body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
   
}



header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 50px;
}

.logo_div {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.navbar home{
    color: #f54e77;
}

.navbar a {
    font-size: 14px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 15px;
    border-bottom: 5px solid #ffffff;
}

.navbar a:hover {
    color: #f54e77;
    border-bottom: 5px solid #f54e77;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 70px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, select {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    height: 60px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #218838;
}
